<section class="client">
    <div class="container wrapper-client">
    <h2 class="title-name-client">Марія Фотографченко</h2>

    <div class="wrapper-client-wanna">
        <ul class="client-ul">
            <li class="client-li">
                25 років
            </li>
            <li class="client-li">
                працює у маленькій фотостудії 10 годин на добу
            </li>
            <li class="client-li">
                Через 3 роки планує відкрити власну фотостудію
            </li>
            <li class="client-li">
                потребує прокачки своїх скілів і підвищення рівня знань у мистецтві фотографії (як раз в цьому допоможе наш сайт)
            </li>
        </ul>

        <img class="client-img1" src="./img/user.jpg" alt="maria">
    </div>
    </div>
</section>