<header class="header">
    <div class="container wrapper-header">
        <a class="logo-header" href="#">
            <img src="./img/logo-removebg-preview.png" alt="oduvanchik" width="64" height="64">
        </a>

        <nav class="nav">
            <ul class="nav-ul">
                <li class="nav-li">
                    <a href="#hero" class="nav-link">Kul`babky</a>
                </li>
                <li class="nav-li">
                    <a href="#task" class="nav-link">Task</a>
                </li>
                <li class="nav-li">
                    <a href="#client" class="nav-link">Client</a>
                </li>
                <li class="nav-li">
                    <a href="#whyme" class="nav-link">Why We?</a>
                </li>
                <li class="nav-li">
                    <a href="#team" class="nav-link">Our Team</a>
                </li>
                <li class="nav-li">
                    <a href="#problems" class="nav-link">Our Proplems</a>
                </li>
            </ul>
        </nav>
    </div>
</header>