<section id="team">
    <div class="team">
        <h2 class="team-title">Наша команда</h2>
        <ul class="team-list">
            <li class="team-item">
                <img 
                src="./img/Oleh.jpg"
                alt="Oleh"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <h3 class="team-subtitel">Олег</h3>
                    <p class="team-text">TEAM LEAD</p>
                </article>
            </li>
            <li class="team-item">
                <img
                src="./img/Egor.jpg"
                alt="Egor"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <h3 class="team-subtitel">Єгор</h3>
                    <p class="team-text">SCRUM MASTER</p>
                </article>
            </li>
        </ul>
    </div>
    <div class="mentors">
        <h2 class="team-title-two">РОЗРОБНИКИ</h2>
        <ul class="mentors-list">
            <li class="mentors-item">
                <img
                src="./img/Bohdan.jpg"
                alt="Bohdan"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">БОГДАН</p>
                </article>
            </li>
            <li class="mentors-item">
                <img
                src="./img/Danil.jpg"
                alt="Danil"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">ДАНИЛ</p>
                </article>
            </li>
            <li class="mentors-item">
                <img
                src="./img/MaximI.JPG"
                alt="MaximI"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">МАКСИМ</p>
                </article>
            </li>
            <li class="mentors-item">
                <img
                src="./img/Anastasia.jpg"
                alt="Anastasia"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">АНАСТАСІЯ</p>
                </article>
            </li>
            <li class="mentors-item">
                <img
                src="./img/Olexandr.jpg"
                alt="Olexandr"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">ОЛЕКСАНДР</p>
                </article>
            </li>
            <li class="mentors-item">
                <img
                src="./img/Alex.jpg"
                alt="Alex"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">ОЛЕКСІЙ</p>
                </article>
            </li>
            <li class="mentors-item">
                <img
                src="./img/max-bez.png"
                alt="maxim"
                width="180"
                height="180"
                class="team-image"/>
                <article class="team-name">
                    <p class="team-text-two">МАКСИМ</p>
                </article>
            </li>
        </ul>
    </div>
</section>
