<section>
  <div class="container our-plus">
    <h1 class="plus-title">Чому ми?</h1>
    <h2 class="plus-sub-title">САЙТ, СТВОРЕННИЙ КОМАНДОЮ РОЗРОБНИКІВ 
      “KUL’BABKY’ ДОПОМОЖЕ ФОТОГРАФАМ (НЕЗАЛЕЖНО ВІД 
      ЇХ РІВНЯ ЗНАНЬ) ПІДВИЩИТИ СВОЮ МАЙСТЕРНІСТЬ І 
      ЗДОБУТИ НОВІ НАВИЧКИ</h2>
      <div class="plus-text">
        <p>ЛЕГКА НАВІГАЦІЯ 
          ПО САЙТУ І 
          ВІДГУКИ 
          РЕАЛЬНИХ 
          КЛІЄНТІВ 
          ЗРОБИТЬ ЧАС 
          ПЕРЕБУВАННЯ НА 
          НАШОМУ САЙТІ 
          ЛЕГКИМ І 
          КОРИСНИМ</p>
        <p>НА САЙТІ ВИ 
          МОЖЕТЕ 
          ПОБАЧИТИ УСІХ 
          МЕНТОРІВ 
          НАШИХ КУРСІВ І 
          ОТРИМАТИ 
          ПЕРСОНАЛЬНІ 
          КОНСУЛЬТАЦІЇ</p>
        <p>ПРИСУТНІСТЬ 
          ФОРМИ ДЛЯ 
          ЗВОРОТНЬОГО 
          ЗВ’ЯЗКУ ЗАВЖДИ 
          ДАЄ ВАМ 
          МОЖЛИВІСТЬ 
          ПОСТАВИТИ 
          ЗАПИТАННЯ ЯКІ 
          ВАС ЦІКАВЛЯТЬ</p>
      </div>
      <img src="./img/logo-removebg-preview.png" alt="logo" width="300" />
    </div>
    <div class="footer-second-wrap">
  </div>
</section>
