<section class="task" id="task">
    <div class="container wrraper-task">

        <img src="../img/kask.png" alt="kask" class="task-img2" width="300" height="250">

        <ul class="task-ul">
            <li class="task-li">
                Завдання
                <ul class="task-ul-ul">
                    <li class="task-li-li">розробити  фронт сайту для фотошколи </li>
                </ul>
            </li>
            <li class="task-li">
                Термін виконання
                <ul class="task-ul-ul">
                    <li class="task-li-li">1.11.23 - 7.11.23</li>
                </ul>
            </li>
            <li class="task-li">
                Мета
                <ul class="task-ul-ul">
                    <li class="task-li-li">зробити сайт максимально доступним і зрозумілим для користувача</li>
                </ul>
            </li>
        </ul>

        <img class="task-img1" src="./img/logo-removebg-preview.png" alt="logo" width="300" height="250">

    </div>
</section>