<section class="task">
    <div class="container">
        <ul class="task-ul">
            <li class="task-li">
                Завдання
                <ul class="task-ul-ul">
                    <li class="task-li-li">розробити  фронт сайту для фотошколи </li>
                </ul>
            </li>
            <li class="task-li">
                Термін виконання
                <ul class="task-ul-ul">
                    <li class="task-li-li">1.11.23 - 7.11.23</li>
                </ul>
            </li>
            <li class="task-li">
                Мета
                <ul class="task-ul-ul">
                    <li class="task-li-li">зробити сайт максимально доступним і зрозумілим для користувача</li>
                </ul>
            </li>
        </ul>
    </div>
</section>