<section class="technologe">
    <div class="technologe">
        <h2 class="technologe-titel">Технології які використовувалися</h2>
        <div class="technologe-one">
            <h3 class="technologe-subtitel">Front-end</h3>
            <ol class="technologe-list">
                <li class="technologe-item">
                    <p class="technologe-text">HTML/CSS</p>
                </li>
                <li class="technologe-item">
                    <p class="technologe-text">JAVASCRIPT</p>
                </li>
            </ol>
        </div>
        <div class="technologe-two">
            <h3 class="technologe-subtitel">Utilites</h3>
            <ol class="technologe-list">
                <li class="technologe-item">
                    <p class="technologe-text">VCCode</p>
                </li>
                <li class="technologe-item">
                    <p class="technologe-text">FIGMA</p>
                </li>
                <li class="technologe-item">
                    <p class="technologe-text">GIT/GITHUB</p>
                </li>
            </ol>
        </div>
    </div>
</section>