<section class="technologe" id="techno">
    <div class="container technologe-div">
        
        <h2>Технології які використовувалися</h2>

        <div class="wrapper-techno">
            <div class="wrapper-a">
                <h3>Front-end</h3>
                <ul class="wrapper-ul">                
                    <li>HTml/css</li>
                    <li>javascript</li>
                </ul>
            </div>
            <div class="wrapper-b">
                <h3>Utilites</h3>
                <ul class="wrapper-ul">
                    <li>VSCode</li>
                    <li>Figma</li>
                    <li>git/github</li>
                </ul>
            </div>
        </div>
    </div>

</section>