.client{
    margin: 50px 0;
}

.wrapper-client{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wrapper-client-wanna{
    display: flex;
}

.client-ul{
    display: flex;
    flex-direction: column;
    gap: 35px;
    list-style: circle;
}

.client-img1{
    border-radius: 400px 204px 100px 606px;
}