/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

html{
  background-color: #121212;
}

.container{
  max-width: 1280px;
  padding: 0 80px;
}