.wrraper-task{
    position: relative;
}

.task-img2{
    position: absolute;
    right: 0;
    top: 0;
}

.task-ul{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.task-ul-ul{
    list-style: circle;
}

.task-li-li{
    margin-left: 15px;
}

.task-img1{
    margin-top: 150px;
}