.technologe-div{
    text-align: center;
}

.wrapper-techno {
    display: flex;
    flex-direction: row;
    gap: 800px;
}

.wrapper-a{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wrapper-b {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper-ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}